.venv/
__pycache__/
*.pyc
.DS_Store
*.egg-info/
.env
.ipynb_checkpoints/
*.log

data/raw/water/*.duckdb
data/raw/water/*.wal
data/raw/water/*.tmp

outputs/maps/*.html
outputs/maps/*.png
outputs/maps/*.geojson

data/processed/mapping/*.geojson

data/external/geo/france_aquiferes/BDLISA_V3_METRO-gpkg/BDLISA_V3_METRO.gpkg
data/external/geo/france_aquiferes/BDLISA_V3_METRO-gpkg/Descriptif_donnees_BDLISA_V3.pdf
data/external/geo/france_aquiferes/BDLISA_V3_METRO-gpkg/symbologie/

assets/fonts/